<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.linphone.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/LinphoneStyle">
        <activity
            android:name=".ui.LauncherActivity"
            android:noHistory="true"
            android:theme="@style/LinphoneStyle"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/LinphoneStyle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ConfigureAccountActivity"
            android:theme="@style/LinphoneStyle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CallActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/LinphoneStyle"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.LinphoneService"
            android:label="@string/app_name" />

        <receiver
            android:name=".receivers.AutoStartUp"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>